*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial Narrow Bold', sans-serif

}
body{
   
    margin: 0 auto;
  
}
.menu{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 100px;
    align-items: center;
   padding: 40px 200px 80px 200px;
}
.logo{
    flex: 50%;
    font-size: 24px; 
       
}
.menu-link{
    flex: 1;
    font-size: small;
}
.hero{
    display: flex;
    background-color: #1f2937;
    max-height: 300px;
    padding: 0px 200px;
}
.hero-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
        
}
.hero-item{
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: left;
   
}
.hero-text{
    color: #e5e7eb;
    padding: 12px 50px 12px 0px;
}
.button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 12px;
    border: #3882f6;
    border-radius: 5px;
}
img{
    width :100%;
    height: 75%;
    object-fit: cover;
}
.random{
    background-color: #f9faf8;
    color: #1f2937;
    text-align: center;
    padding: 20px 200px;
}
.random-title{
    font-size: 36px;
    font-weight: bolder;
    padding: 20px 0px 40px 0px;
}
.pic-container{
    display: flex;
    align-content: space-between;
    margin :0px 200px;
    justify-content: center;
    align-items: center;
    

}
.container-item{
    flex:1;
    margin: 20px 10px;
    
}
 .container-item img{
    border: 3px solid #3882f6;
    border-radius: 5%;
    
    
    
}
.pic-text{
    font-size: small;
    margin-top: 20px;
    text-align: center;
}
.quote{
    padding: 40px 0px;
   justify-items: center;
    text-align: center;
    background-color: #e5e7eb;
}
blockquote{
    margin: 40px 220px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: justify;
}
figcaption{
    text-align: right;
    margin: 0 200px;
    font-size: 18px;
    font-weight: bold;
}


